*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 62.5%;
}

.btn {
  cursor: pointer;
  border: none;
  background: none;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #000000;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
}

.btn:focus {
  outline: none;
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.content {
  width: 100%;
  font-size: 1.8rem;
  padding: 2rem 0;
  text-align: center;
  background-color: #f2f2f2;
}

.content:last-child {
  padding-bottom: 0;
}

.section-title {
  width: 200px;
  padding: 1rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #d32f2f;
  text-shadow: 1px 1px #000000;
}

.section-title--left {
  margin: 1.5rem auto 1.5rem 0;
  border-radius: 0 .25rem 1rem 0;
}

.section-title--right {
  margin: 1.5rem 0 1.5rem auto;
  border-radius: .25rem 0 0 1rem;
}

.section-list {
  margin-left: 1rem;
  text-align: left;
  list-style: none;
  list-style-position: inside;
}

.section-list__item {
  margin: .5rem 0 1rem 1rem;
}

.section-list__item .section-list__link {
  color: #006ca4;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.section-list__item .section-list__link:hover {
  color: #001825;
}

.bold-text {
  font-weight: 700;
}

.between-section {
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.between-section__header {
  padding: 1rem;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  font-style: italic;
  text-align: center;
  color: #ffffff;
}

.between-section--shenzhen1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/open-source.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/open-source.jpg");
  background-size: cover;
}

.between-section--shenzhen2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/supply-chain.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/supply-chain.jpg") no-repeat;
  background-size: cover;
}

.between-section--shenzhen3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/dashboard.jpg") center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/dashboard.jpg") center no-repeat;
  background-size: cover;
}

.between-section--shenzhen4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/team.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/team.jpg") no-repeat;
  background-size: cover;
}

.navigation {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.27);
}

.navigation__logo {
  margin-left: 1rem;
}

.navigation__logo-link {
  display: block;
}

.navigation__logo-link .navigation__logo-text {
  text-transform: uppercase;
  text-shadow: 2px 2px black;
}

.navigation__logo-link .navigation__logo-text--big {
  font-size: 2.8rem;
  letter-spacing: 2px;
  border-bottom: 3px solid #d32f2f;
  border-radius: .25rem;
  color: #ffffff;
}

.navigation__logo-link .navigation__logo-text--small {
  margin-top: .25rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #cccccc;
}

.navigation__hamburger {
  width: 40px;
  height: 24px;
  margin-right: 1.5rem;
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
}

.navigation .hamburger {
  overflow: visible;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: opacity,-webkit-filter;
  transition-property: opacity,-webkit-filter;
  transition-property: opacity,filter;
  transition-property: opacity,filter,-webkit-filter;
  color: inherit;
  background-color: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navigation .hamburger:hover {
  opacity: .75;
}

.navigation .hamburger__bar {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  border-radius: .2rem;
  -webkit-transition: background-color 0s linear .13s;
  transition: background-color 0s linear .13s;
}

.navigation .hamburger__bar::before, .navigation .hamburger__bar::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  border-radius: .2rem;
}

.navigation .hamburger__bar::before {
  width: 70%;
  top: 10px;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navigation .hamburger__bar::after {
  width: 85%;
  top: 20px;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navigation .hamburger--active {
  -webkit-transition-delay: .22s;
          transition-delay: .22s;
  background-color: transparent;
}

.navigation .hamburger--active::after {
  width: 100%;
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.navigation .hamburger--active::before {
  width: 100%;
  top: 0;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.navigation__menu {
  width: 100%;
  position: fixed;
  top: 70px;
  left: 0;
}

.navigation .main-menu {
  height: auto;
  padding: 1rem;
  overflow: hidden;
  background-color: #1d1d1d;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.27);
  list-style-type: none;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.navigation .main-menu--active {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navigation .main-menu__item {
  margin: 1.5rem 1rem;
  position: relative;
}

.navigation .main-menu__item:nth-child(2) {
  margin-bottom: 0;
}

.navigation .main-menu__item .main-menu__link {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

.navigation .main-menu__item .main-menu__link:hover {
  color: #bfbfbf;
}

.navigation .main-menu__item .main-menu__button {
  padding: 0;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

.navigation .main-menu__item .main-menu__button:hover {
  color: #bfbfbf;
}

.navigation .main-menu__item .main-menu__arrow {
  border: solid #ffffff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  position: absolute;
  top: 3.7px;
  right: 0px;
  padding: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.navigation .main-menu__item .main-menu__arrow:hover {
  cursor: pointer;
  border: solid #bfbfbf;
  border-width: 0 4px 4px 0;
}

.navigation .main-menu__item .arrow--active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation .main-menu .services-menu {
  width: 100%;
  max-height: 0;
  margin-left: 1rem;
  overflow: hidden;
  list-style-type: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.navigation .main-menu .services-menu--active {
  max-height: 170px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.navigation .main-menu .services-menu__item {
  margin: 1rem 0;
}

.navigation .main-menu .services-menu__item .services-menu__link {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

.navigation .main-menu .services-menu__item .services-menu__link:hover {
  color: #bfbfbf;
}

.navigation .main-menu .services-menu__item:last-child {
  margin-bottom: 0;
}

.navigation .second-menu {
  display: none;
}

.header {
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/header-photo.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/header-photo.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__welcome {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__welcome .header__title {
  padding: 0 2rem;
  margin: 1rem 0;
  text-align: center;
  color: #ffffff;
}

.header__welcome .header__title--big {
  font-size: 3.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
}

.header__welcome .header__title--small {
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-style: italic;
  font-family: "Merriweather", serif;
  text-shadow: 1px 1px #000000;
}

.header__welcome .header__link {
  display: block;
  margin: 2rem 0 1rem 0;
}

.header__welcome .header__link .header__button {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: .25rem;
  background-color: #d32f2f;
  -webkit-box-shadow: 0 0 5px 0 #000000;
          box-shadow: 0 0 5px 0 #000000;
}

.header__welcome .header__link .header__button:hover {
  background-color: #c02929;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.header__welcome .header__icons {
  width: 100%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__welcome .header__icons .header__icon-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
}

.header__welcome .header__icons .header__icon-link .header__icon-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.header__welcome .header__icons .header__icon-link .header__icon-container:hover {
  cursor: pointer;
  color: #d9d9d9;
}

.header__welcome .header__icons .header__icon-link .header__icon-container .header__icon {
  font-size: 3rem;
}

.about-us__description {
  margin: 0 1rem;
  padding: .5rem;
  line-height: 1.75;
}

.about-us__link {
  display: block;
  margin: 2rem auto;
}

.about-us__link .about-us__button {
  padding: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-bottom: 2px solid #d32f2f;
  border-radius: .4rem;
}

.about-us__link .about-us__button:hover {
  background-color: #d32f2f;
  color: #ffffff;
}

.information__description {
  margin: 0 1rem;
  padding: .5rem;
  line-height: 1.75;
}

.information__description--left-side {
  text-align: left;
}

.information .information__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.information .information__icons .information__icon-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4d4d4d;
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

.information .information__icons .information__icon-container:hover {
  color: #000000;
}

.information .information__icons .information__icon-container .information__icon {
  font-size: 5rem;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .service {
  width: 90%;
  margin: 2.5rem auto;
}

.services .service__title {
  font-size: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.services .service__figure .service__image {
  width: 100%;
  min-height: 150px;
}

.services .service__subtitle {
  font-size: 1.6rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: "Merriweather", serif;
  color: #ffffff;
  background-color: #d32f2f;
  border-radius: .25rem;
}

.services .service__description {
  padding: .5rem;
  font-size: 1.8rem;
  line-height: 1.35;
  text-align: justify;
}

.services .service-list {
  margin: 0;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__figure .advantages__image {
  width: 100%;
}

.advantages .advantage {
  width: 90%;
  margin: 1.5rem auto;
}

.advantages .advantage__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.advantages .advantage__description {
  font-size: 1.8rem;
  line-height: 1.35;
}

.experience {
  padding-bottom: 10%;
}

.experience__title {
  margin: 2rem 1rem 0 1rem;
  font-size: 1.8rem;
  text-align-last: center;
  text-transform: uppercase;
}

.experience__description {
  margin: 1rem 2rem;
  line-height: 1.5;
  text-align: left;
}

.experience__horizontal-line {
  width: 75%;
  margin: .5rem auto 1rem auto;
  border: 2px solid #d32f2f;
  border-radius: 2px;
}

.experience-list {
  text-align: left;
  margin: 0 1rem;
}

.footer {
  background-color: #e2e2e2;
  padding: 1rem 0;
}

.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-container__subtitle {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.footer .footer-container__information {
  margin: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container__information .footer-container__link {
  color: #006ca4;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

.footer .footer-container__information .footer-container__link:hover {
  color: #001825;
}

.footer__text {
  width: 100%;
  padding: 0 2rem;
  font-size: 1.3rem;
  text-align: center;
}

.main-timeline {
  width: 80%;
  margin: 3rem auto;
  padding: 2rem 0;
  position: relative;
}

.main-timeline::before {
  content: "";
  height: 40px;
  width: 40px;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 10px solid #303334;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  position: absolute;
  left: 50%;
  top: -15px;
  z-index: 2;
}

.main-timeline::after {
  content: "";
  height: 40px;
  width: 40px;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 10px solid #303334;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  position: absolute;
  left: 50%;
  top: -15px;
  z-index: 2;
  top: auto;
  bottom: 15px;
}

.main-timeline .timeline {
  padding: 3.5rem 0;
  margin-top: -3rem;
  margin-left: -2px;
  position: relative;
  z-index: 1;
}

.main-timeline .timeline::before {
  content: "";
  height: 100%;
  width: 50%;
  border-radius: 112px 0 0 112px;
  border: 15px solid #46b2bc;
  border-right: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-timeline .timeline::after {
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 100px 0 0 100px;
  border: 15px solid #46b2bc;
  border-right: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: calc(100% - 30px);
  width: calc(50% - 12px);
  border-color: #65c7d0;
  left: 12px;
  top: 15px;
}

.main-timeline .timeline__content {
  display: inline-block;
}

.main-timeline .timeline__number {
  color: #65c7d0;
  font-size: 6rem;
  font-weight: 600;
  display: inline-block;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  position: absolute;
  top: 50%;
  left: 10%;
}

.main-timeline .timeline__container {
  width: 50%;
  padding: 2rem;
  display: inline-block;
  float: right;
}

.main-timeline .timeline__title {
  color: #65c7d0;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.main-timeline .timeline__description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0;
}

.main-timeline .timeline:nth-child(even)::before {
  left: auto;
  right: 0;
  border-radius: 0 112px 112px 0;
  border: 15px solid red;
  border-left: none;
}

.main-timeline .timeline:nth-child(even)::after {
  left: auto;
  right: 12px;
  border-radius: 0 100px 100px 0;
  border: 15px solid green;
  border-left: none;
}

.main-timeline .timeline:nth-child(even) .timeline__container {
  float: left;
}

.main-timeline .timeline:nth-child(even) .timeline__number {
  left: auto;
  right: 10%;
}

.main-timeline .timeline:nth-child(5n+1)::before {
  border-color: #46b2bc;
}

.main-timeline .timeline:nth-child(5n+1)::after {
  border-color: #65c7d0;
}

.main-timeline .timeline:nth-child(5n+1) .timeline__number, .main-timeline .timeline:nth-child(5n+1) .timeline__title {
  color: #65c7d0;
}

.main-timeline .timeline:nth-child(5n+2)::before {
  border-color: #ea3c14;
}

.main-timeline .timeline:nth-child(5n+2)::after {
  border-color: #EF5720;
}

.main-timeline .timeline:nth-child(5n+2) .timeline__number, .main-timeline .timeline:nth-child(5n+2) .timeline__title {
  color: #EA3C14;
}

.main-timeline .timeline:nth-child(5n+3)::before {
  border-color: #8CC63E;
}

.main-timeline .timeline:nth-child(5n+3)::after {
  border-color: #6CAF29;
}

.main-timeline .timeline:nth-child(5n+3) .timeline__number, .main-timeline .timeline:nth-child(5n+3) .timeline__title {
  color: #8CC63E;
}

.main-timeline .timeline:nth-child(5n+4)::before {
  border-color: #F99324;
}

.main-timeline .timeline:nth-child(5n+4)::after {
  border-color: #FBB03B;
}

.main-timeline .timeline:nth-child(5n+4) .timeline__number, .main-timeline .timeline:nth-child(5n+4) .timeline__title {
  color: #F99324;
}

.main-timeline .timeline:nth-child(5n+5)::before {
  border-color: #0071BD;
}

.main-timeline .timeline:nth-child(5n+5)::after {
  border-color: #0050A3;
}

.main-timeline .timeline:nth-child(5n+5) .timeline__number, .main-timeline .timeline:nth-child(5n+5) .timeline__title {
  color: #0071BD;
}

@media screen and (max-width: 1200px) {
  .main-timeline .timeline:after {
    border-radius: 88px 0 0 88px;
  }
  .main-timeline .timeline:nth-child(even):after {
    border-radius: 0 88px 88px 0;
  }
}

@media screen and (max-width: 767px) {
  .main-timeline .timeline {
    margin-top: -19px;
  }
  .main-timeline .timeline:before {
    border-radius: 50px 0 0 50px;
    border-width: 10px;
  }
  .main-timeline .timeline:after {
    height: calc(100% - 18px);
    width: calc(50% - 9px);
    border-radius: 43px 0 0 43px;
    border-width: 10px;
    top: 9px;
    left: 9px;
  }
  .main-timeline .timeline:nth-child(even):before {
    border-radius: 0 50px 50px 0;
    border-width: 10px;
  }
  .main-timeline .timeline:nth-child(even):after {
    height: calc(100% - 18px);
    width: calc(50% - 9px);
    border-radius: 0 43px 43px 0;
    border-width: 10px;
    top: 9px;
    right: 9px;
  }
  .main-timeline .timeline__number {
    font-size: 40px;
  }
}

@media screen and (max-width: 479px) {
  .main-timeline {
    width: 100%;
  }
  .main-timeline .timeline__number {
    font-size: 25px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 65%;
    left: 9%;
  }
  .main-timeline .timeline__container {
    width: 78%;
    padding: 10px;
  }
  .main-timeline .timeline__title {
    font-size: 18px;
  }
  .main-timeline .timeline:nth-child(even) .timeline__number {
    right: 9%;
  }
}

@media (min-width: 436px) {
  .header__welcome .header__icons .header__icon-link .header__icon-container {
    font-size: 1.3rem;
  }
  .header__welcome .header__icons .header__icon-link .header__icon-container .header__icon {
    font-size: 4rem;
  }
  .section-title {
    width: 225px;
  }
  .advantages__figure .advantages__image {
    width: 90%;
  }
  .services .service {
    width: 80%;
    margin: 3.5rem auto;
  }
  .services .service__figure {
    width: 360px;
    margin: 0 auto;
  }
  .services .service__subtitle {
    width: 360px;
    margin: 0 auto 1rem auto;
  }
  .services .service__description {
    text-align: center;
  }
  .services .service__title {
    font-size: 2.2rem;
  }
  .information__icon-container {
    font-size: 1.3rem !important;
    margin: 1rem 2rem !important;
  }
  .between-section__header {
    font-size: 2.2rem;
  }
  .experience__title {
    font-size: 2rem;
  }
  .footer .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer .footer-container__subtitle {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer .footer-container__information {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 768px) {
  .navigation__hamburger, .main-menu {
    display: none;
  }
  .advantages__image {
    width: 85% !important;
  }
  .navigation__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: static;
  }
  .navigation__menu--horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style-type: none;
  }
  .header__title--big {
    font-size: 3.4rem !important;
  }
  .header__title--small {
    font-size: 2.6rem !important;
  }
  .information__icon {
    font-size: 6rem !important;
  }
  .information__icon-container {
    margin: 1rem 3rem !important;
  }
  .header__icon-container,
  .information__icon-container {
    font-size: 1.4rem !important;
  }
  .header__icon {
    font-size: 4rem !important;
  }
  .second-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .second-menu__link {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
  }
  .second-menu__link:hover {
    color: #bfbfbf;
  }
  .services .service {
    margin: 5rem auto;
  }
  .services .service__figure {
    width: 460px;
    margin: 0 auto;
  }
  .services .service__subtitle {
    width: 460px;
    margin: 0 auto 1rem auto;
  }
  .services .service__title {
    font-size: 2.4rem;
  }
  .section-title {
    width: 250px;
    font-size: 2.6rem;
  }
  .between-section {
    min-height: 60vh;
  }
  .between-section--shenzhen1, .between-section--shenzhen2, .between-section--shenzhen3, .between-section--shenzhen4, .between-section--shenzhen5 {
    background-attachment: fixed;
  }
  .between-section__header {
    font-size: 2.6rem;
  }
  .about-us__description, .about-us__button, .section-list__link, .information__description, .service__description, .advantage__description {
    font-size: 2rem !important;
  }
  .experience__horizontal-line {
    width: 65%;
  }
  .advantage__title {
    font-size: 2.2rem !important;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    position: relative;
  }
  .footer__title {
    position: absolute;
    top: 0;
    left: 0;
  }
  .footer .footer-container {
    margin-top: 80px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .footer .footer-container__information {
    font-size: 1.7rem;
  }
}

@media (min-width: 992px) {
  .between-section {
    min-height: 70vh;
  }
  .between-section__header {
    font-size: 2.8rem;
  }
  .advantages__image {
    width: 1000px !important;
  }
  .second-menu__link {
    font-size: 1.6rem;
  }
  .information__icon {
    font-size: 7rem !important;
  }
  .information__icon-container {
    margin: 1rem 4rem !important;
  }
  .header__icon-container,
  .information__icon-container {
    font-size: 1.5rem !important;
  }
  .header__icon {
    font-size: 5rem !important;
  }
  .section-title {
    width: 275px;
    font-size: 2.8rem;
  }
  .service__title {
    font-size: 2.6rem !important;
  }
  .about-us__description, .about-us__button, .section-list__link, .information__description, .service__description, .advantage__description, .experience__title {
    font-size: 2.2rem !important;
  }
  .experience__horizontal-line {
    width: 50%;
  }
  .experience__title {
    margin-top: 3rem;
  }
  .experience__description, .experience .section-list__item {
    text-align: center;
    font-size: 2rem !important;
  }
  .advantage__title {
    font-size: 2.4rem !important;
  }
  .footer .footer-container__information {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */