// Variables
$main-font-family: 'Roboto', sans-serif;
$second-font-family: 'Merriweather', serif;
$primary-background-color: #303030;
$secondary-background-color: #1d1d1d;;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-lightgray-color: #cfcfcf;
$primary-red-color: #d32f2f;
$link-color: #006ca4;

// Reset
*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-family: $main-font-family;
   color: $primary-black-color;
   font-size: 62.5%;
}

// Reusable classes
.btn{
   cursor: pointer;
   border: none;
   background: none;
   text-align: center;
   transition: all .3s ease-out;
   color: $primary-black-color;
   padding: 1rem 1.5rem;
   font-size: 1.8rem;

   &:focus{
      outline: none;
   }
}

.link{
   color: inherit;
   text-decoration: none;
   cursor: pointer;
}

.content{
   width: 100%;
   font-size: 1.8rem;
   padding: 2rem 0;
   text-align: center;
   background-color: darken($color: $primary-white-color, $amount: 5%);

   &:last-child{
      padding-bottom: 0;
   }
}

.section-title{
   width: 200px;
   padding: 1rem;
   font-size: 2.4rem;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 1px;
   color: $primary-white-color;
   background-color: $primary-red-color;
   text-shadow: 1px 1px $primary-black-color;

   &--left{
      margin: 1.5rem auto 1.5rem 0;
      border-radius: 0 .25rem 1rem 0;
   }

   &--right{
      margin: 1.5rem 0 1.5rem auto;
      border-radius: .25rem 0 0 1rem;
   }
}

.section-list{
   margin-left: 1rem;
   text-align: left;
   list-style: none;
   list-style-position: inside;

   &__item{
      margin: .5rem 0 1rem 1rem;

      .section-list__link{
         color: $link-color;
         transition: all .3s ease-out;

         &:hover{
            color: darken($color: $link-color, $amount: 25%);
         }
      }
   }

}

.bold-text{
   font-weight: 700;
}

.between-section{
   width: 100%;
   min-height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;

   &__header{
      padding: 1rem;
      font-size: 2rem;
      font-family: $second-font-family;
      font-style: italic;
      text-align: center;
      color: $primary-white-color;
   }

   &--shenzhen1{
      background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
         url("../assets/open-source.jpg");
      background-size: cover;
   }

   &--shenzhen2{
      background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
         url("../assets/supply-chain.jpg") no-repeat;
      background-size: cover;
   }

   &--shenzhen3{
      background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
         url("../assets/dashboard.jpg") center no-repeat;
      background-size: cover;
   }

   &--shenzhen4{
      background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
         url("../assets/team.jpg") no-repeat;
      background-size: cover;
   }
}

// Styles
.navigation{
   width: 100%;
   height: 80px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 3;
   background-color: $secondary-background-color;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .27);

   &__logo{
      margin-left: 1rem;

      &-link{
         display: block;

         .navigation__logo-text{
            text-transform: uppercase;
            text-shadow: 2px 2px black;

            &--big{
               font-size: 2.8rem;
               letter-spacing: 2px;
               border-bottom: 3px solid $primary-red-color;
               border-radius: .25rem;
               color: $primary-white-color;
            }

            &--small{
               margin-top: .25rem;
               font-size: 1.4rem;
               letter-spacing: 1px;
               color: darken($color: $primary-white-color, $amount: 20%);
            }
         }
      }
   }

   &__hamburger{
      width: 40px;
      height: 24px;
      margin-right: 1.5rem;
      position: relative;
      top: 0;
      right: 0;
      z-index: 2;
   }

   .hamburger{
      overflow: visible;
      transition-timing-function: linear;
      transition-duration: .15s;
      transition-property: opacity,filter;
      color: inherit;
      background-color: transparent;
      transition: all .3s ease-in-out;

      &:hover{
         opacity: .75;
      }

      &__bar{
         content: "";
         width: 100%;
         height: 4px;
         background-color: $primary-white-color;
         position: absolute;
         top: 0;
         left: 0;
         margin: auto;
         border-radius: .2rem;
         transition: background-color 0s linear .13s;

         &::before,
         &::after{
            content: "";
            width: 100%;
            height: 4px;
            background-color: $primary-white-color;
            position: absolute;
            top: 0;
            left: 0;
            margin: auto;
            border-radius: .2rem;
         }

         &::before{
            width: 70%;
            top: 10px;
            transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
         }

         &::after{
            width: 85%;
            top: 20px;
            transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
         }
      }

      &--active{
         transition-delay: .22s;
         background-color: transparent;

         &::after{
            width: 100%;
            top: 0;
            transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
            transform: translate3d(0,10px,0) rotate(-45deg);
         }

         &::before{
            width: 100%;
            top: 0;
            transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
            transform: translate3d(0,10px,0) rotate(45deg);
         }
      }
   }

   &__menu{
      width: 100%;
      position: fixed;
      top: 70px;
      left: 0;
   }

   .main-menu{
      height: auto;
      padding: 1rem;
      overflow: hidden;
      background-color: $secondary-background-color;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .27);
      list-style-type: none;
      transform-origin: top;
      transform: scaleY(0);
      opacity: 0;
      transition: all .3s ease-out;

      &--active{
         opacity: 1;
         transform: scaleY(1);
      }

      &__item{
         margin: 1.5rem 1rem;
         position: relative;

         &:nth-child(2){
            margin-bottom: 0;
         }

         .main-menu__link{
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $primary-white-color;
            transition: color .3s ease-out;

            &:hover{
               color: darken($color: $primary-white-color, $amount: 25%);
            }
         }

         .main-menu__button{
            padding: 0;
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $primary-white-color;
            transition: color .3s ease-out;

            &:hover{
               color: darken($color: $primary-white-color, $amount: 25%);
            }
         }

         .main-menu__arrow{
            border: solid $primary-white-color;
            border-width: 0 4px 4px 0;
            display: inline-block;
            position: absolute;
            top: 3.7px;
            right: 0px;
            padding: 4px;
            transform: rotate(-45deg);
            transition: all .3s ease-out;

            &:hover{
               cursor: pointer;
               border: solid darken($color: $primary-white-color, $amount: 25%);
               border-width: 0 4px 4px 0;
            }
         }

         .arrow--active{
            transform: rotate(45deg);
         }
      }

      .services-menu{
         width: 100%;
         max-height: 0;
         margin-left: 1rem;
         overflow: hidden;
         list-style-type: none;
         transition: all .3s ease-out;

         &--active{
            max-height: 170px;
            transition: all .3s ease-in;
         }

         &__item{
            margin: 1rem 0;

            .services-menu__link{
               color: $primary-white-color;
               font-size: 1.6rem;
               font-weight: 400;
               transition: color .3s ease-out;

               &:hover{
                  color: darken($color: $primary-white-color, $amount: 25%);
               }
            }
         }

         &__item:last-child{
            margin-bottom: 0;
         }
      }
   }

   .second-menu{
      display: none;
   }
}

.header{
   min-height: calc(100vh - 80px);
   margin-top: 80px;
   background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
         url("../assets/header-photo.jpg") no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;

   &__welcome{
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header__title{
         padding: 0 2rem;
         margin: 1rem 0;
         text-align: center;
         color: $primary-white-color;

         &--big{
            font-size: 3.2rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-shadow: 2px 2px $primary-black-color;
         }

         &--small{
            font-size: 2.4rem;
            letter-spacing: 1px;
            font-style: italic;
            font-family: $second-font-family;
            text-shadow: 1px 1px $primary-black-color;
         }
      }

      .header__link{
         display: block;
         margin: 2rem 0 1rem 0;

         .header__button{
            padding: 1rem 1.5rem;
            font-size: 1.8rem;
            text-transform: uppercase;
            border-radius: .25rem;
            background-color: $primary-red-color;
            box-shadow: 0 0 5px 0 $primary-black-color;

            &:hover{
               background-color: darken($color: $primary-red-color, $amount: 5%);
               transform: translateY(.5rem);
            }
         }
      }

      .header__icons{
         width: 100%;
         margin-top: 2rem;
         display: flex;
         flex-flow: row wrap;
         justify-content: space-around;
         align-items: baseline;

         .header__icon-link{
            flex: 1;
            margin: 1rem;

            .header__icon-container{
               flex: 1;
               font-size: 1.2rem;
               text-align: center;
               text-transform: uppercase;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               color: $primary-white-color;
               text-shadow: 1px 1px $primary-black-color;
               transition: .3s all ease-in-out;

               &:hover{
                  cursor: pointer;
                  color: darken($color: $primary-white-color, $amount: 15%);
               }

               .header__icon{
                  font-size: 3rem;
               }
            }
         }
      }
   }
}

.about-us{
   &__description{
      margin: 0 1rem;
      padding: .5rem;
      line-height: 1.75;
   }

   &__link{
      display: block;
      margin: 2rem auto;

      .about-us__button{
         padding: 1rem;
         font-size: 1.8rem;
         text-transform: uppercase;
         border-bottom: 2px solid $primary-red-color;
         border-radius: .4rem;

         &:hover{
            background-color: $primary-red-color;
            color: $primary-white-color;
         }
      }
   }
}

.information{
   &__description{
      margin: 0 1rem;
      padding: .5rem;
      line-height: 1.75;

      &--left-side{
         text-align: left;
      }
   }

   .information__icons{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: baseline;

      .information__icon-container{
         margin: 1rem;
         font-size: 1.2rem;
         text-align: center;
         text-transform: uppercase;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         color: lighten($color: $primary-black-color, $amount: 30%);
         transition: .3s ease-in-out all;

         &:hover{
            color: $primary-black-color;
         }

         .information__icon{
            font-size: 5rem;
         }
      }
   }
}

.services{
   display: flex;
   flex-direction: column;

   .service{
      width: 90%;
      margin: 2.5rem auto;

      &__title{
         font-size: 2rem;
         margin: 1rem 0;
         text-transform: uppercase;
      }

      &:last-child{
         .service__title{
            text-transform: inherit;
         }
      }

      &__figure{
         .service__image{
            width: 100%;
            min-height: 150px;;
         }
      }

      &__subtitle{
         font-size: 1.6rem;
         padding: 1rem;
         margin-bottom: 1rem;
         font-family: $second-font-family;
         color: $primary-white-color;
         background-color: $primary-red-color;
         border-radius: .25rem;
      }

      &__description{
         padding: .5rem;
         font-size: 1.8rem;
         line-height: 1.35;
         text-align: left;
      }

      &-list{
         margin: 0;
      }
   }
}

.advantages{
   display: flex;
   flex-direction: column;

   &__figure{
      .advantages__image{
         width: 100%;
      }
   }

   .advantage{
      width: 90%;
      margin: 1.5rem auto;

      &__title{
         margin-bottom: 1rem;
         font-size: 2rem;
         text-transform: uppercase;
      }

      &__description{
         font-size: 1.8rem;
         line-height: 1.35;
      }
   }
}

.experience{
   padding-bottom: 10%;

   &__title{
      margin: 2rem 1rem 0 1rem;
      font-size: 1.8rem;
      text-align-last: center;
      text-transform: uppercase;
   }

   &__description{
      margin: 1rem 2rem;
      line-height: 1.5;
      text-align: left;
   }

   &__horizontal-line{
      width: 75%;
      margin: .5rem auto 1rem auto;
      border: 2px solid $primary-red-color;
      border-radius: 2px;
   }

   &-list{
      text-align: left;
      margin: 0 1rem;
   }
}

.footer{
   background-color: lighten($color: $primary-lightgray-color, $amount: 7.5%);
   padding: 1rem 0;

   .footer-container{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      &__subtitle{
         padding: 1rem;
         font-size: 2rem;
         text-align: center;
         text-transform: uppercase;
      }

      &__information{
         margin: 1rem;
         font-size: 1.5rem;
         line-height: 1.5;
         text-align: center;
         display: flex;
         flex-flow: column wrap;
         justify-content: center;
         align-items: center;

         .footer-container__link{
            color: $link-color;
            transition: color .3s ease-out;

            &:hover{
               color: darken($color: $link-color, $amount: 25%)
            }
         }
      }
   }

   &__text{
      width: 100%;
      padding: 0 2rem;
      font-size: 1.3rem;
      text-align: center;
   }
}

.main-timeline {
   width: 80%;
   margin: 3rem auto;
   padding: 2rem 0;
   position: relative;

   &::before {
     content: "";
     height: 40px;
     width: 40px;
     background-color: #e7e7e7;
     border-radius: 50%;
     border: 10px solid #303334;
     transform: translatex(-50%);
     position: absolute;
     left: 50%;
     top: -15px;
     z-index: 2;
   }

   &::after {
     content: "";
     height: 40px;
     width: 40px;
     background-color: #e7e7e7;
     border-radius: 50%;
     border: 10px solid #303334;
     transform: translatex(-50%);
     position: absolute;
     left: 50%;
     top: -15px;
     z-index: 2;
     top: auto;
     bottom: 15px;
   }

   .timeline {
      padding: 3.5rem 0;
      margin-top: -3rem;
      margin-left: -2px;
      position: relative;
      z-index: 1;

      &::before {
         content: "";
         height: 100%;
         width: 50%;
         border-radius: 112px 0 0 112px;
         border: 15px solid #46b2bc;
         border-right: none;
         position: absolute;
         left: 0;
         top: 0;
         z-index: -1;
      }

      &::after {
         content: "";
         width: 50%;
         height: 100%;
         border-radius: 100px 0 0 100px;
         border: 15px solid #46b2bc;
         border-right: none;
         position: absolute;
         left: 0;
         top: 0;
         z-index: -1;
         height: calc(100% - 30px);
         width: calc(50% - 12px);
         border-color: #65c7d0;
         left: 12px;
         top: 15px;
      }

      &__content{
         display: inline-block;
      }

      &__number{
         color: #65c7d0;
         font-size: 6rem;
         font-weight: 600;
         display: inline-block;
         transform: translatey(-50%);
         position: absolute;
         top: 50%;
         left: 10%;
      }

      &__container{
         width: 50%;
         padding: 2rem;
         display: inline-block;
         float: right;
      }

      &__title{
         color: #65c7d0;
         font-size: 2.4rem;
         font-weight: 600;
         text-transform: uppercase;
         margin: 0 0 5px 0;
      }

      &__description{
         font-size: 1.8rem;
         line-height: 1.5;
         margin: 0;
      }

      &:nth-child(even) {
         &::before {
           left: auto;
           right: 0;
           border-radius: 0 112px 112px 0;
           border: 15px solid red;
           border-left: none;
         }

         &::after {
           left: auto;
           right: 12px;
           border-radius: 0 100px 100px 0;
           border: 15px solid green;
           border-left: none;
         }

         .timeline__container {
           float: left;
         }

         .timeline__number {
           left: auto;
           right: 10%;
         }
       }

      &:nth-child(5n+1) {
         &::before {
           border-color: #46b2bc;
         }

         &::after {
           border-color: #65c7d0;
         }

         .timeline__number, .timeline__title {
           color: #65c7d0;
         }
      }


       &:nth-child(5n+2) {
         &::before {
            border-color: #ea3c14;
         }

         &::after {
            border-color: #EF5720;
         }

         .timeline__number, .timeline__title {
            color: #EA3C14;
         }
      }

      &:nth-child(5n+3) {
         &::before {
            border-color: #8CC63E;
         }

         &::after {
            border-color: #6CAF29;
         }

         .timeline__number, .timeline__title {
            color: #8CC63E;
         }
      }

      &:nth-child(5n+4) {
         &::before {
            border-color: #F99324;
         }

         &::after {
            border-color: #FBB03B;
         }

         .timeline__number, .timeline__title {
            color: #F99324;
         }
      }

      &:nth-child(5n+5) {
         &::before {
            border-color: #0071BD;
         }

         &::after {
            border-color: #0050A3;
         }

         .timeline__number, .timeline__title {
            color: #0071BD;
         }
      }
   }
 }

 @media screen and (max-width: 1200px) {
   .main-timeline .timeline {
     &:after {
       border-radius: 88px 0 0 88px;
     }

     &:nth-child(even):after {
       border-radius: 0 88px 88px 0;
     }
   }
 }

 @media screen and (max-width: 767px) {
   .main-timeline {
     .timeline {
       margin-top: -19px;

       &:before {
         border-radius: 50px 0 0 50px;
         border-width: 10px;
       }

       &:after {
         height: calc(100% - 18px);
         width: calc(50% - 9px);
         border-radius: 43px 0 0 43px;
         border-width: 10px;
         top: 9px;
         left: 9px;
       }

       &:nth-child(even) {
         &:before {
           border-radius: 0 50px 50px 0;
           border-width: 10px;
         }

         &:after {
           height: calc(100% - 18px);
           width: calc(50% - 9px);
           border-radius: 0 43px 43px 0;
           border-width: 10px;
           top: 9px;
           right: 9px;
         }
       }
     }

     .timeline__number {
       font-size: 40px;
     }
   }
 }

 @media screen and (max-width: 479px) {
   .main-timeline {
      width: 100%;

     .timeline__number {
       font-size: 25px;
       transform: translateY(0);
       top: 65%;
       left: 9%;
     }

      .timeline__container {
         width: 78%;
         padding: 10px;
      }

     .timeline__title {
       font-size: 18px;
     }

     .timeline:nth-child(even) {
       .timeline__number {
         right: 9%;
       }
     }
   }
 }

$first-breakpoint: 436px;
@media (min-width: $first-breakpoint){

   .header{
      &__welcome{
         .header__icons{
            .header__icon-link{
               .header__icon-container{
                  font-size: 1.3rem;

                  .header__icon{
                     font-size: 4rem;
                  }
               }
            }
         }
      }
   }

   .section-title{
      width: 225px;
   }

   .advantages{
      &__figure{
         .advantages__image{
            width: 90%;
            max-width: 570px;
         }
      }
   }

   .services{
      .service{
         width: 80%;
         margin: 3.5rem auto;

         &__figure{
            width: 360px;
            margin: 0 auto;
         }

         &__subtitle{
            width: 360px;
            margin: 0 auto 1rem auto;
         }

         &__description{
            text-align: center;
         }

         &__title{
            font-size: 2.2rem;
         }
      }
   }

   .information__icon-container{
      font-size: 1.3rem !important;
      margin: 1rem 2rem !important;

   }

   .between-section__header{
      font-size: 2.2rem;
   }

   .experience__title{
      font-size: 2rem;
   }

   .footer{
      .footer-container{
         flex-flow: row wrap;
         align-items: baseline;

         &__subtitle{
            flex-basis: 100%;
         }

         &__information{
            flex: 1;
         }
      }
   }
}

$second-breakpoint: 768px;
@media (min-width: $second-breakpoint){

   .navigation__hamburger, .main-menu{
      display: none;
   }

   .advantages__image{
      width: 85% !important;
   }

   .navigation__menu{
      flex: 1;
      position: static;

      &--horizontal{
         display: flex;
         justify-content: space-around;
         list-style-type: none;
      }
   }

   .header__title{
      &--big{
         font-size: 3.4rem !important;
      }

      &--small{
         font-size: 2.6rem !important;
      }
   }

   .information__icon{
      font-size: 6rem !important;
   }

   .information__icon-container{
      margin: 1rem 3rem !important;
   }

   .header__icon-container,
   .information__icon-container{
      font-size: 1.4rem !important;
   }

   .header__icon{
      font-size: 4rem !important;
   }

   .second-menu{
      display: flex !important;

      &__link{
         font-size: 1.4rem;
         font-weight: 700;
         text-transform: uppercase;
         color: $primary-white-color;
         transition: color .3s ease-out;

         &:hover{
            color: darken($color: $primary-white-color, $amount: 25%);
         }
      }
   }

   .services{
      .service{
            margin: 5rem auto;
         &__figure{
            width: 460px;
            margin: 0 auto;
         }

         &__subtitle{
            width: 460px;
            margin: 0 auto 1rem auto;
         }

         &__title{
            font-size: 2.4rem;
         }
      }
   }

   .section-title{
      width: 250px;
      font-size: 2.6rem;
   }

   .between-section{
      min-height: 60vh;

      &--shenzhen1, &--shenzhen2, &--shenzhen3, &--shenzhen4, &--shenzhen5{
         background-attachment: fixed;
      }

      &__header{
         font-size: 2.6rem;
      }
   }

   .about-us__description, .about-us__button, .section-list__link, .information__description, .service__description, .advantage__description{
      font-size: 2rem !important;
   }

   .experience__horizontal-line{
      width: 65%;
   }

   .advantage__title{
      font-size: 2.2rem !important;
   }

   .footer{
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      position: relative;

      &__title{
         position: absolute;
         top: 0;
         left: 0;
      }

      .footer-container{
         margin-top: 80px;
         flex: 1 0 50%;
         flex-flow: row wrap;

         &__information{
            font-size: 1.7rem;
         }
      }
   }
}

$third-breakpoint: 992px;
@media (min-width: $third-breakpoint){

   .between-section{
      min-height: 70vh;

      &__header{
         font-size: 2.8rem;
      }
   }

   .advantages__image{
      width: 1000px !important;
   }

   .second-menu{
      &__link{
         font-size: 1.6rem;
      }
   }

   .information__icon{
      font-size: 7rem !important;
   }

   .information__icon-container{
      margin: 1rem 4rem !important;
   }

   .header__icon-container,
   .information__icon-container{
      font-size: 1.5rem !important;
   }

   .header__icon{
      font-size: 5rem !important;
   }

   .section-title{
      width: 275px;
      font-size: 2.8rem;
   }

   .service__title{
      font-size: 2.6rem !important;
   }

   .about-us__description, .about-us__button, .section-list__link, .information__description, .service__description, .advantage__description, .experience__title{
      font-size: 2.2rem !important;
   }

   .experience__horizontal-line{
      width: 50%;
   }

   .experience{
      &__title{
         margin-top: 3rem;
      }

      &__description, .section-list__item{
         text-align: center;
         font-size: 2rem !important;
      }
   }

   .advantage__title{
      font-size: 2.4rem !important;
   }

   .footer{
      .footer-container{
         &__information{
            font-size: 1.8rem;
         }
      }
   }
}